<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/bootstrap/bootstrap.min.css}"
          rel="stylesheet"/>
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}"
            type="text/javascript"></script>
    <script th:src="@{/scripts/jquery/jquery.js}"
            type="text/javascript"></script>
</head>
<body>

<div class="card ">
    <div class="card-header text-bg-dark mb-3">
        Autenticación
    </div>
    <div class="card-body">
        <form th:action="@{/auth/login}" method="post">
            <div class="mb-3">
                <label for="nomusuario" class="form-label">Email address</label>
                <input type="text" class="form-control" id="nomusuario" name="nomusuario" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="name@example.com">
            </div>
            <!--<div class="alert alert-primary" role="alert" th:if="${param.error}">
                Usuario o password incorrecto.
            </div>-->
            <button class="btn btn-md btn-primary" type="submit">Ingresar</button>
            <button type="button">
                <a href="/auth/register">Register</a>
            </button>
        </form>
    </div>
</div>
</body>
</html>