<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<script th:src="@{/scripts/jsweb/sala/frmMantSala.js}"
        type="text/javascript"></script>
<nav th:insert="layout::menu"></nav>
<div class="card ">
  <div class="card-header text-bg-dark mb-3">
    Lista de Estados Salas
  </div>
  <div class="card-body">
    <button id="btnagregar"
            type="button" class="btn btn-primary">Agregar</button>
    <hr />
    <div id="mensaje"></div>
    <table id="tblsala" class="table">
      <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Nro.Asientos</th>
        <th scope="col">Estado</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="sala :${listaSalas}">
        <td th:text="${sala.idsala}"></td>
        <td th:text="${sala.descsala}"></td>
        <td th:text="${sala.asientos}"></td>
        <td th:text="${sala.estado.descestado}"></td>
        <td>
          <button type="button" class="btn btn-info btnactualizar"
            th:data-idsala="${sala.idsala}"
            th:data-descsala="${sala.descsala}"
            th:data-asientos="${sala.asientos}"
            th:data-idestado="${sala.estado.idestado}">Actualizar</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btneliminar"
            th:data-idsala="${sala.idsala}"
            th:data-descsala="${sala.descsala}">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sala</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="txtdescsala" class="form-label">Descripción Sala</label>
          <input type="text" class="form-control" id="txtdescsala">
        </div>
        <div class="mb-3">
          <label for="txtnroasientos" class="form-label">Nro.Asientos</label>
          <input type="number" class="form-control" id="txtnroasientos">
        </div>
        <div class="mb-3">
          <label for="cboestado" class="form-label">Estado</label>
          <select id="cboestado" class="form-control"></select>
        </div>
        <input type="hidden" id="hddidsala">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" id="btnguardar" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>